{% if _file.S_PDF %}

	{% if not _file.S_PDF_DESC %}

		{# Include - CSS #}
		{% if not definition.INCLUDED_PDFCSS %}
			{% INCLUDECSS '@phpbbstudio_pdf/pdf.css' %}
			{% DEFINE INCLUDED_PDFCSS = true %}
		{% endif %}
    
  
    <div>
    <button class="inventea-online" onclick="reloadIFrame()"> Ricarica Allegati</button> 
     	
    <div class="holds-the-iframe">
      <iframe id="iframeID{{ _file.FILESIZE }}" name="iframeID{{ _file.FILESIZE }}" src="//docs.google.com/gview?url={{ _file.SRC }}&amp;embedded=true" width="100%" height="700""></iframe>
    </div>
    
    <script>         
    
                        
function reloadIFrame() {
    //document.getElementById("iframeID{{ _file.FILESIZE }}").src=document.getElementById("iframeID{{ _file.FILESIZE }}").src;
    var theOddOnes = document.getElementsByClassName("holds-the-iframe");
     for(var i=0; i<theOddOnes.length; i++)
                {
                   
                    theOddOnes[i].firstElementChild.src=theOddOnes[i].firstElementChild.src;
                    //console.log(theOddOnes[i]);
                    //console.log(theOddOnes.item(i));
                    
                }
    
}


</script>

	{% elseif _file.S_PDF_DESC %}

		<dl class="file">
			<dt>{% if _file.UPLOAD_ICON %}{{ _file.UPLOAD_ICON }}{% endif %}
				<a class="postlink" href="{{ _file.U_DOWNLOAD_LINK }}">{{ _file.SIZE_LANG }}</a>
			</dt>

			{% if _file.COMMENT %}
				<dd><em>{{ _file.COMMENT }}</em></dd>
			{% endif %}
			<dd>{{ lang('PDF_ERROR_FILE_SYSTEM') }}</dd>
		</dl>

	{% endif %}

{% endif %}
